*

!modules
!modules/**/*
!themes
!themes/**/*
!sql-scripts
!sql-scripts/**/*
!.gitignore
!docker-compose.yml
!LICENSE
!README.md
!.env.sample
!Dockerfile
themes/hummingbird-test/node_modules/**/*
themes/hummingbird-test/assets
themes/hummingbird-test/.env
themes/hummingbird-test/coverage
themes/hummingbird-test/vendors/**/*
